PORT: 4000
HOSTNAME: localhost
CLIENT_URL: localhost
API_URL: http://localhost:4000

SERVICE_MODE: dev

DATABASE_URL: mongodb://localhost:27017/

LOGGER_URL:
LOGGER_TAG:

SIGNATURE_SECRET: e7gj9wu6fQC3MbfXHEysMxEj

SESSION_SECRET: mfXNjebznemqg0RlJ7S7N71M

EMAIL_HOST: 
EMAIL_LOGIN: 
EMAIL_PASSWORD: 