PORT: 4000
HOSTNAME: localhost
CLIENT_URL: localhost
API_URL: http://localhost:4000

DATABASE_URL: mongodb://localhost:27017/

LOGGER_URL:
LOGGER_TAG:

SIGNATURE_SECRET: e7gj9wu6fQC3MbfXHEysMxEj

SESSION_SECRET: mfXNjebznemqg0RlJ7S7N71M
REFRESH_SESSION_SECRET: eRe7zCA0nkwR0x91xu2lQFm9